.formBG{
    background-color: rgb(33, 32, 32);
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-panel{
    background-color: rgb(0, 0, 0);
    width: 400px;
    border: 1px solid grey;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.form-panel h1{
    width: 100%;
}

.form-panel h5 {
    margin: 0;
    color: red;
}

.form-panel input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

.form-panel button {
    width: 70%;
    margin: 10px;
}

.confirmation-page {
    background-color: rgb(0, 0, 0);
    width: 400px;
    border: 1px solid grey;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.links {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

.confirmation-page a {
    margin-bottom: 15px;
    margin-right: 20px;
    color: white;
    text-decoration: underline;
}
